*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
html{
    font-size: 62.5%;
}
body{
    height: 100vh;
}

header{
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #ECECEC;
}
header div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icono{
    width: 50px;
    height: 50px;
    margin-left: 50px;
}
.icono:hover{
    background-color: white;
    padding: 10px;
    border-radius: 25%;
}
.Titulo{
    margin: 10px 0 10px 0;
    font-family: 'Nunito', sans-serif;
    font-size: 3.6rem;
    color: #112610;
    text-shadow: #4A5C4A 0px 5px 10px;
    
}
.SubTitulo{
    font-family: 'Nunito', sans-serif;
    font-size: 1.4rem; 
    text-align: center;
    text-shadow: #4A5C4A 0px 5px 10px;
    margin: 0 0 10px 0;
}

.Productos{
    display: flex;
    background-color: #D2DCD2;
    flex-direction: column;
    align-items: center;
}
.Palta{
    height: 250px;
    width: 250px;
    background-color: #4A5C4A;
    margin: 15px 0 15px 0;
    position: relative;
}
.Palta img{
    object-position: center;
    height: 100%;
    
}
.Data{
    background-color: #333333;
    height: auto;
    width: 250px;
    position: absolute;
    bottom: 0;
}
.Texto{
    color: white;
}
 
@media (min-width: 400px){
    .Palta{
        height: 350px;
        width: 350px; 
    }
    .Data{
        height: auto;
        width: 350px;
    }
}

@media (min-width: 700px){
    .Productos{
        flex-direction: inherit;
        flex-wrap: wrap;
        align-items: center;
    }
    .Palta{
        margin: 15px auto;
    }

}
@media (min-width: 1000px){
    .Productos{
        width: 1000px;
        margin: 0 auto; 
    }
    header{
        width: 1000px;
        margin: 0 auto;
    }
    .Data{
        height: auto;
        width: 350px; 
    }
}
